.levelwin, .buff, .levellose {
    position: absolute;
    width: 1000px; /* 根据你的画布大小设置 */
    height: 600px; /* 根据你的画布大小设置 */
    margin: 0 auto;
}


.levelwin-image {
    z-index: 10;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.buff-image {
    z-index: 10;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.levellose-image {
    z-index: 10;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.buff {
    display: none;
    text-align: center;
    background-size: cover;
    padding: 40px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    border: 4px solid #fff; /* 白色边框 */
    z-index: 10;
}
#nextlevel, #endgame, #buff1, #buff2, #reset, #endgamelose, #start{
    z-index: 11;
    display: block;
    margin: 20px auto;
    padding: 20px 50px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent; /* 按钮背景颜色 */
    border: none; /* 去除按钮边框 */
    border-radius: 5px; /* 按钮圆角 */
}


#nextlevel {
    background-color: transparent;
    position: absolute;
    top: 390px;
    left: 265px
}

#endgame {
    background-color: transparent;
    position: absolute;
    top: 390px;
    left: 595px
}

#buff1 {
    background-color: transparent;
    position: absolute;
    top: 390px;
    left: 265px
}

#buff2 {
    background-color: transparent;
    position: absolute;
    top: 390px;
    left: 595px
}

#reset {
    background-color: transparent;
    position: absolute;
    top: 390px;
    left: 265px
}

#endgame {
    background-color: transparent;
    position: absolute;
    top: 390px;
    left: 595px
}